$yellow : #FCFC69;

body, html{
	overflow-x: hidden;
}

body{
	font-family: "Montserrat";
	margin: 0;
	transition: 1s ease all;
	font-size: 14px;

	&.lock{
		overflow-y: hidden;
	}
}

a{
	color: white;
	text-decoration: none;
}

h1{
	font-size: 36px;
	font-weight: 900;
}

h2{
	font-size: 36px;
}
h3{
	font-size: 20px;
	font-weight: 700;
}

.container{
	width: 1170px;
	margin: 0 auto;
}

p{
	display: inline;
	margin: 0;
				padding: 0;
}

.header{
	background: black;
	color:white;
	padding: 20px 0;
	position: fixed;
	width: 100%;
	z-index: 100;
	.container{
		display: flex;
		align-items: center;

		.emblem{
			display: flex;
			align-items: center;
			padding-right: 5px;


			p{
				font-weight: 600;
				margin-left: 5px;
			}
		}
		.adress{
			display: flex;
			flex-flow: column;
			border-left: 1px solid white;
			padding-left: 5px;
			margin-left: 5px;

			p{
				margin-bottom: 10px;
			}
		}
		ul{
			display: block;
			transition: 0.5s all ease;
			top: 55px;

			&.active{
				right: 0;	
				top: 55px;
				z-index: 1;		
			}

			li{
				display: inline;
				margin-right: 35px;


				&:hover{
					transition: 0.5s all ease;
					border-bottom: 1px solid white;

				}

				a{
					color: white;
					text-decoration: none;
					font-weight: 600;
					font-size: 16px;
				}
				&:last-child{
					display: none;
				}

			}
		}
		.work{
			margin-left: auto;
			text-align: left;

			.working{
				display: flex;
				align-items: center;

				.circle{
				width: 10px;
				height: 10px;
				background: #42CF48;
				border-radius: 50%;
				margin-right: 5px;
			}
		}

			
		}
		.burger{
			display: none;
			width: 30px;
			height: 20px;
			position: relative;


			span{
				position: absolute;
				background-color: white;
				left: 0;
				width: 100%;
				height: 2px;
				top: 9px;
				transition: 0.5s all ease;
			}

			&:before{
				top: 0;
			}
			&:after{
				bottom: 0;
			}

			&:before, &:after{
				content: '';
				background-color: white;
				position: absolute;
				width: 100%;
				height: 2px;
				transition: 0.5s all ease;
			}

			&.active{
				z-index: 1;

				span{
					transform: scale(0);
				}

				&:before{
					transform: rotate(45deg);
					top: 9px;
				}

				&:after{
					transform: rotate(-45deg);
					bottom: 9px;
				}
			}
		}
	}
}

.first__screen{
	padding-top: 20px;
	background: url("images/first screen.png") no-repeat;
	background-size: cover;
	margin-bottom: 100px;
	margin-top: 58px;
	.container{
		display: flex;
		.first__screen__left{
			width: 725px;
			margin-top: 100px;
			padding-bottom: 100px;

			h1{
				color: white;
				span{
					color: $yellow;
				}
			}
				p{
					font-size: 24px;
					color:white;
					display: block;
					margin-top: 2
					0px;
				}
				a{
					font-size: 24px;
					text-decoration: none;
					color: black;
					margin-top: 50px;
					display: inline-block;
					font-weight: 700;
					background: linear-gradient( to bottom right, #FAE73C, #FAE73C); 
					padding: 45px 35px;

					&:hover{
						box-shadow: 0 0 5px $yellow;
					}
				}
		}
		.first__screen__right{
			position: relative;
			
			.about__man{
				clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
				border-left: 1px solid rgba(255, 255, 255, 0.2);
				border-top: 1px solid rgba(255, 255, 255, 0.2);
				border-radius: 20px;
				position: absolute;
				color: white;
				top: 40%;
				left: 0;	
				background: rgba(255, 255, 255, 0.15);
				backdrop-filter: blur(10px);
				z-index: 1;
				overflow: hidden;
				

				.content{
					width: 200px;
					height: 310px;
					font-size: 18px;
					padding: 20px;
					display: flex;
					flex-direction: column;
					justify-content: center;


					h3{
						color: #FAE73C;
					}
				}
			}

			img{
				height: 100%;
				display: block;
			}
		}	

	}
}

.advantages{
margin-bottom: 100px;
	.container{

		h2{
		text-align: center;
		}

		.edges{
			display: flex;
			justify-content: space-between;

			.advantage{
				width: 235px;
				height: 355px;
				border: 1px solid $yellow;
				border-radius: 10px;
				text-align: center;

				.advantage__content{
					width: 200px;
					margin: 0 auto;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					.icon{
						font-size: 48px;
						background: linear-gradient( to right, #FAE73C, #FCFF71);
						border-radius: 50%;
						width: 110px;
						height: 110px;
						display: flex;
						align-items: center;
						justify-content: center;
						margin-top: 30px;
					}
				}
			}
		}
	}
	

}

.warrantys{
	margin-bottom: 100px;
	.container{
		h2{
			text-align: center;
		}

		.warrantys__content{
			display: flex;
			justify-content: space-between;
			text-align: center;

			.warranty{
				width: 210px;
				margin: 10px;

				&:nth-child(2){
					width: 301px;
				}
			}
		}
		.numbers{
			position: absolute;
			font-size: 288px;
			display: flex;
			opacity: 0.1;
			left: 250px;
			bottom: -830px;

			p{
				margin-right: 125px;
			}
		}
	}
}

.why{
	margin-bottom: 100px;

	.container{

		h2{
			text-align: center;
		}

		.why__content{
			display: flex;
			align-items: center;

			.why__content__left{
				font-size: 24px;
				p{
					display: block;
					margin-bottom: 75px;

					&:last-child{
						margin-bottom: 0;
					}
				}
			}

			.why__content__right{
				display: flex;
				align-items: center;

				.arrow{
					background: linear-gradient( to bottom right, #FAE73C, #FAE73C);
					padding: 9px 10px;
					border-radius: 50%;
					cursor: pointer;
				}

				.slider{
					position: relative;
					width: 610px;
					height: 425px;

					img{
						display: none;
						position: absolute;
						width: 610px;
						height: 425px;

						&.curry{
							display: block;
						}
					}
				}
			}
		}
	}
}

.invest{
	margin-bottom: 100px;
	background: url("images/background_table.png") no-repeat center;
	padding-bottom: 150px;
	.container{

		.invest__title{
			padding-top: 60px;
			padding-bottom: 70px;
			h2, h3{
			text-align: center;
			}
		}

		.conditions{
			display: flex;
			justify-content: space-between;
			padding-bottom: 50px;
		}
		table{
			border-collapse: collapse;
			box-shadow: 0 4px 20px #424242;

			tr{
				
				border: 1px solid black;

				&.table__white{
					background: white;
				}

				&.table__grey{
					background: #7C7C7C;
					font-weight: 700;
					color:white;
				}
				&.table__verygray{
					background: #666666;
					font-weight: 700;
					color:white;
				}

				th{
					
					padding: 50px;
					font-size: 14px;
					border: 1px solid black;
					padding-bottom: 45px;
					transition: 0.8s all ease;

					&.procent{
						cursor: pointer;
						transition: 0.4s all ease;


						p{
							opacity: 1;
							display: flex;
							align-items: center;
							justify-content: center;
							flex-direction: column;
							transition: 0.4s all ease;
						}

						.hover {
								opacity: 0;
								font-size: 20px;
								
							}
							&:hover{

								.rate{
									opacity: 0;
								}

								.hover{
									opacity: 1;
									transition-delay: 0.3s;
									transform: translateY(-10px);
								}
							}
					}

				}
			}
		}
		
	}
}

.call{
	margin-bottom: 100px;

	.container{

		.call__title{
			text-align: center;

		}

		.call__content{
			display: flex;
			align-items: center;

			.call__content__left{
				text-align: left;

				p{
					font-size: 24px;
				}
				.form{
					margin-top: 90px;
					width: 450px;

					form{
						display: flex;
						flex-direction: column;

						input{
							border: none;
							border-bottom: 1px solid black;
							font-size: 20px;
							color: black;
							margin-bottom: 50px; 
							padding-bottom: 35px;

							&:nth-child(3){
								width: 300px;
								border: none;
								background: linear-gradient( to bottom right, #FAE73C, #FAE73C);
								padding: 30px;
								border-radius: 10px;
								font-size: 24px;
								font-weight: 700;
								cursor: pointer;
							}
						}
					}
				}
			}
			img{
				height: 100%;
			}
		}
	}
}

.footer{
	background: black;
	padding: 20px 0;
	.container{
		display: flex;
		align-items: center;
		justify-content: space-between;

		.emblem{
			display: flex;
			align-items: center;
			padding-right: 5px;

			h1{
				font-size: 48px;
				margin: 0;
				font-weight: 700;
				position: relative;
				color: white;

				&:after{
					content: 'U';
					position: absolute;
					font-size: 24px;
					top: 35%;
					left: 35%;
				}
			}

			p{
				font-weight: 600;
				margin-left: 5px;
				color: white;
			}
		}
		.adress{
			display: flex;
			flex-flow: column;
			border-left: 1px solid white;
			padding-left: 5px;
			margin-left: 5px;
			color: white;

			p{
				margin-bottom: 10px;
			}
		}
		ul{
			display: block;

			li{
				display: inline;
				margin-right: 35px;
				color: white;

				a{
					color: white;
					text-decoration: none;
					font-weight: 600;
					font-size: 16px;
				}
			}
		}
		.work__footer{
			margin-left: auto;
			text-align: left;
			color:white;
			font-weight: 300;
			display: flex;
			flex-direction: column;
			text-align: right;
		}
	}
}

@media screen and (max-width: 1500px){
	.warrantys .container .numbers{
		display: none;
	}
}

@media screen and (max-width: 1190px){
	.container{
		width: 100%;
	}

	.warrantys .container .warrantys__content{
		flex-wrap: wrap;
	}

	.why .container .why__content{
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
		line-height: 1.5;
	}
	.first__screen .container{
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}

	.header{
		padding: 5px 0px;
	}

	.header .container ul{
		display: flex;
		flex-direction: column;
		position: fixed;
		width: 100%;
		right: -200%;
		background: white;
		padding-left: 0;
		z-index: -1;
		overflow: auto;

		li{
			padding: 30px;
			margin-right: 0;
			border-bottom: 1px solid #000;

			&:last-child{
				border: none;
				color: black;
				display: block;
				font-weight: 500;
				text-align: right;
				font-size: 20px;
				padding-top: 20px;
			}

			a{
				color: black;
				font-size: 20px;
			font-weight: 700;
			}
		}
	}

	.header .container .work{
		text-align: right;
	}

	.header .container .burger{
		display: block;
		margin-left: auto;
		margin-right: 10px;
		cursor: pointer;
	}



	.call .container .call__content .call__content__left{
		text-align: center;
		width: 100%;
	}

	.call .container .call__content img{
		display: none;
	}

	.call .container .call__content .call__content__left .form {
		margin: 50px auto 0  auto;

		form{
			input{
				margin: 0 auto;
				margin-bottom: 50px;
			}
			
		}
	}
	.header .container .work{
		display: none;
	}

	.footer .container ul{
		display: none;
	}
}

@media screen and (max-width: 975px) {
	.advantages .container .edges {
		flex-wrap: wrap;
		justify-content: center;
	}

	.advantages .container .edges .advantage{
		margin: 10px;
		
	}
}

@media screen and (max-width: 980px){
	.warrantys .container .warrantys__content{
		flex-direction: column;
		align-items: center;
	}

	.advantages .container .edges{
		flex-direction: column;
		align-items: center;

		.advantage{
			margin-bottom: 10px;
		}
	}
}

@media screen and (max-width: 768px){
	.invest .container .conditions{
		flex-direction: column;
		text-align: center;
	}

	.why .container .why__content .why__content__right .arrow{
		display: none;
	}

	.invest .container table tr th{
		padding: 30px;
	}

	.invest .container .invest__title{
		padding-top: 0;
		padding-bottom: 0;
	}

	.invest{
		background: none;
		padding-bottom: 0;
	}
}

@media screen and (max-width: 575px){
	.first__screen__right{
		display: none;
	}

	.first__screen__left{
		padding-bottom: 50px;
	}

	.footer .container .adress{
		display: none;
	}

	.header .container .adress{
		display: none;
	}
}

@media screen and (max-width: 600px){
	.invest .container table tr th{
		padding: 20px;
	}
}

@media screen and (max-width: 520px){
	.invest .container table tr th{
		padding: 10px;
		font-size: 12px;
	}

	.invest .container table {
		width: 100%;

	}

	.invest .container table tr{
		display: flex;
		flex-direction: column;
		border: none;
		justify-content: center;
		padding: 0;

		th{
			padding: 15px 0;
			font-size: 16px;

					&.procent{
						cursor: pointer;
						transition: 0.4s all ease;

						.rate{
							margin-top: 20px;
						}

						p{
							opacity: 1;
							display: flex;
							align-items: center;
							justify-content: center;
							flex-direction: column;
							transition: 0.4s all ease;
						}

						.hover {
								opacity: 0;
								font-size: 20px;
								transform: translateY(0px);
								
							}
							&:hover{

								.rate{
									opacity: 0;
								}

								.hover{
									opacity: 1;
									transition-delay: 0.3s;
									transform: translateY(-20px);
								}
							}
					}
		}
	}
	.footer .container .adress{
		display: none;
	}
}